Here's a `.gitignore` file tailored for a MERN stack project, which typically includes MongoDB, Express.js, React, and Node.js:

```gitignore
# Node modules
node_modules/

.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
# .env
.env.local
.env.*.local

# Dependency directories
jspm_packages/
bower_components/

# Next.js
.next/
out/

# # Build directories
# dist/
# build/
# public/

# # Static files
# static/

# dist

# Coverage directory used by tools like istan